<!DOCTYPE html>
{% load static %}
<html>
    <head> <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
          <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  
      <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link type="text/css" rel="stylesheet" href="{% static 'index.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
          
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Sine!</title>
    </head>
    <body>
            <div class="header">
                    <a href = "{% url 'index' %}"><img src="{% static 'noun_waveform_485423.png' %}" attribute="waveform by Aurélien Lemesre from the Noun Project"/></a>
                    {% block content %}
                    {% endblock %}
            </div>
           

        

         <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>

    </body>
</html>