{% extends 'base.html' %}
{% load static %}

{% block content %}
                <div class="posts">
                    <p id = "title">Hello World</p>
                    <p id = "bpost">{{text}}</p>
                    <div id = "post-footer">
                        <div id = "like-button">
                            <!-- <img src="Resources/unlike.png"/> -->
                        </div>
                    </div>
                    <div id = "author">Loren Ipsum</div>
                </div>

                <div class="posts">
                        <p id = "title">Hello World</p>
                        <p id = "bpost">{{text}}</p>
                        <div id = "post-footer">
                            <div id = "like-button">
                                <!-- <img src="Resources/unlike.png"/> -->
                            </div>
                        </div>
                        <div id = "author">Loren Ipsum</div>
                </div>
                
            
            
            
           
         
        {% endblock %}
