{% extends 'base.html' %}
{% load static %}

{% block content %}
                <div class="posts">
                    <p id = "title">Loren Ipsum</p>
                    <p id = "bpost">{{text}}</p>
                    <div id = "post-footer">
                        <div id = "like-button">
                            <!-- <img src="Resources/unlike.png"/> -->
                        </div>
                    </div>
                    <div id = "author">Loren Ipsum</div>
                </div>

                <div class="posts">
                        <p id = "title">Loren Ipsum</p>
                        <p id = "bpost">{{text}}</p>
                        <div id = "post-footer">
                            <div id = "like-button">
                                <!-- <img src="Resources/unlike.png"/> -->
                            </div>
                        </div>
                        <div id = "author">Loren Ipsum</div>
                </div>
                <div class="footer">
                        <a class="waves-effect waves-light btn-small" id = "footer-button" href = "{% url 'login' %}">Login</a>
                        <a class="waves-effect waves-light btn-small" id = "footer-button" href = "{% url 'signup' %}">Sign Up</a>
                </div>
                
            
            
            
           
         
        {% endblock %}
